/* Body section */
html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 100% of the viewport height */
  height: 100vh;
  background-color: hsl(0, 0%, 41%);
}
#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 25px;
  max-width: 450px;
  max-height: 100%;
  height: fit-content;
  overflow: hidden;
}
#display {
  max-width: 90%;
  /* display: flex; */
  justify-content: flex-end;
  padding: 20px;
  font-size: 5rem;
  text-align: right;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
#keys {
  display: grid;
  /* fr stands for fractional unit 1fr mean a button take equal amount of space*/
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 25px;
}
button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  /* background: transparent; */
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  /* Click deyar pore highlight hobe ektu*/
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
  background-color: hsl(35, 100%, 65%);
}
.operator-btn:active {
  background-color: hsl(35, 100%, 75%);
}
